{{ define "main" }}
<main class="home">
  <div class="claim container">
    <h1>
      <span>I'm Alberto,</span>
      <span>a full stack developer</span>
      <span>based in Bilbao</span>
    </h1>
  </div>
  <div class="resume container">
    <p>
      Here you will find my <a href="/projects/">latest projects</a>,
      <a href="/blog/">my blog</a>, and a little bit <a href="/alberto-varela/">about me</a>.
      The easiest way to get in touch is by <a href="mailto:alberto@berriart.com">emailing me</a>,
      but feel free <a rel="me" href="https://twitter.com/artberri" target="_blank" rel="noopener noreferrer">to follow or DM me</a>,
      take a gander at <a rel="me" href="https://www.linkedin.com/in/artberri" target="_blank" rel="noopener noreferrer">my resume</a>,
      or review <a rel="me" href="https://github.com/artberri" target="_blank" rel="noopener noreferrer">my code</a>.
    </p>
  </div>
</main>
{{ end }}
