*,
::after,
::before {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
  min-height: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "Poly", serif;
  background: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

a {
  color: var(--text-color);

  &:hover {
    color: var(--text-color-secondary);
  }
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
  font-weight: normal;
  font-style: normal;
  color: var(--text-color);
  text-rendering: optimizeLegibility;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

a img {
  border: 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

.container {
  max-width: 79rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.post-details-info {
  font-size: 1rem;
  font-family: Arial, sans-serif;
  color: var(--text-color-secondary);
  transition: var(--transition);
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
}
