.main-header {
  border-bottom: var(--border);
  height: var(--header-height);
  width: 100%;
  display: flex;
  font-family: var(--header-font);
  align-items: flex-end;
  background: var(--bg-color);

  & .title {
    flex-grow: 1;
    padding: 0.75rem 1.5rem;

    & h1 {
      font-size: 1.8rem;
      line-height: 1;
      margin: 0;
    }

    & a {
      color: var(--text-color);
      text-decoration: none;
    }
  }

  & .menu {
    & ul {
      display: flex;
      align-items: flex-end;
      flex-direction: row;
      margin: 0;
      list-style: none;
    }

    & li {
      border-left: var(--border);
      font-size: 1.2rem;
      line-height: 1;
      margin: 0;
    }

    & a {
      display: block;
      display: flex;
      align-items: flex-end;
      padding: 0.75rem 1.5rem 0.75rem 6rem;
      height: var(--header-height);
      text-decoration: none;
      color: var(--text-color-secondary);

      &:hover {
        color: var(--text-color);
      }
    }
  }
}
