.project {
  border: var(--border);
  padding: 2rem;
  display: flex;
  margin-bottom: 2rem;
  transition: var(--transition);

  & h1 {
    font-size: 2.4rem;
  }

  & .project-image {
    margin-right: 2rem;

    & img {
      width: 8rem;
      height: 8rem;
      max-width: none;
    }
  }

  & .project-content {
    flex-grow: 1;

    & p {
      font-size: 1.4rem;
      margin: 0;
    }
  }
}

@media (max-width: 600px) {
  .project {
    display: block;

    & h1 {
      font-size: 3.5rem;
    }

    & .project-image {
      float: left;
      margin-bottom: 1rem;
    }

    & .project-content {
      & p {
        font-size: 1.8rem;
      }
    }
  }
}
