.single {
  & .content {
    max-width: var(--content-with);
    margin: 0 auto;
    padding: 0 2rem;
  }
}

.featured-image {
  & img {
    display: block;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    max-width: 75rem;
    aspect-ratio: 1.91 / 1;
  }
}

.share {
  transition: var(--transition);
  opacity: 0;
}
