.subheader {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  border-bottom: var(--border);
  transition: var(--transition);

  & .title {
    font-size: 3rem;
  }
}

@media (width <= 1200px) {
  .single .subheader {
    border-bottom: 0;
    margin-bottom: 0;
  }
}
