html {
  scroll-behavior: smooth;
}

body {
  transition: var(--transition);
}

pre,
code {
  font-family: var(--monospace-font);
  overflow-x: auto;
}

a {
  transition: var(--transition);
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

p {
  transition: var(--transition);
}

h1,
h2,
h3,
h4,
h5 {
  transition: var(--transition);
}

img {
  filter: none;
}

.dark-mode img {
  filter: brightness(0.8) contrast(1.2);
}

@media (prefers-color-scheme: dark) {
  img {
    filter: brightness(0.8) contrast(1.2);
  }

  .light-mode img {
    filter: none;
  }
}
