.footer {
  border-top: var(--border);
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  font-family: var(--monospace-font);
  font-size: 0.8rem;
  transition: var(--transition);
}
