.header {
  position: sticky;
  top: 0;
  transition: var(--transition);

  & .title a {
    & .a {
      transition: var(--transition);
      transform: translateX(0);
    }
    & .v {
      transition: var(--transition);
      transform: translateX(0);
    }

    &:hover {
      & .a {
        transform: translateX(-1.5rem);
      }
      & .v {
        transform: translateX(1.5rem);
      }
    }
  }

  & .menu-item {
    transition: var(--transition);
  }

  & .menu-link {
    transition: var(--transition);
    transform: scale(1);
    transform-origin: bottom right;

    &:hover {
      color: var(--text-color);
      transform: scale(1.1);
    }
  }
}
