.header {
  position: sticky;
  top: 0;
  transition: var(--transition);

  & .menu {
    & li {
      transition: var(--transition);
    }

    & a {
      transition: var(--transition);
    }
  }
}
