.previous-next {
  transition: var(--transition);
  border-top: var(--border);
  display: flex;

  & > * {
    transition: var(--transition);
    flex: 1 0 50%;
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: var(--border);
    font-family: var(--header-font);
  }

  & a {
    transform: scale(1);
    transform-origin: center center;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@media (max-width: 600px) {
  .previous-next {
    font-size: 1.4rem;
    line-height: 1.2;
  }
}
