<!DOCTYPE html>
<html lang="{{ .Params.Language | default "en" }}">
    {{- partial "head.html" . -}}
    <body itemscope itemtype="http://schema.org/WebPage">
        {{- block "main" . }}{{- end }}
        <script>
            window.cookieconsent_options = {
                'message': 'We use cookies to personalise content and ads, to provide social media features and to analyse our traffic. We also share information about your use of our site with our social media, advertising and analytics partners.',
                'dismiss': 'Got it!',
                'learnMore': 'More info',
                'link': '/cookies-policy/',
                'theme': 'dark-bottom'
            };
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
        {{ range .Params.custom_scripts }}
            <script src="{{ . }}"></script>
        {{ end }}
    </body>
</html>
