{{ define "main" }}
<main class="page" role="main">
	<div class="projects">
		<header class="subheader">
			<div class="container">
				<h1 class="title">Antifa & Dev Fashion Store</h1>
			</div>
		</header>

		<div class="content container">
			<p>Coding is my job, and design is just a hobby. Thus, every item here is sold at production
				cost—this is not about making a profit. </p>
			<p>But, before you make your purchase, I ask one thing: please consider donating to an antifa,
				antiracist, or LGTBIQ+ organization, joining a workers’ union, or simply taking a stand by
				punching a Nazi.</p>

			<article class="shop-item">
				<h1>
					Sometimes Developer, Always Antifascist. T-shirt.
				</h1>

				<div class="shop-images">
					<div class="shop-image">
					<img
							src="images/sometimes-developer-always-antifascist-shirt.png"
							class="thumbnail"
							alt="Image of a black t-shirt with the text 'S0M3T1M3S D3V3L0P3R, 4LW4YS 4NT1F4SC1ST' written in circle that contains a curly brackets white and red"
					/>
					</div>
					<div class="shop-image">
					<img
							src="images/sometimes-developer-always-antifascist-woman.png"
							class="thumbnail"
							alt="Image of a woman with a black t-shirt with the text 'S0M3T1M3S D3V3L0P3R, 4LW4YS 4NT1F4SC1ST' written in circle that contains a curly brackets white and red"
					/>
					</div>
					<div class="shop-image">
					<img
							src="images/sometimes-developer-always-antifascist-man.png"
							class="thumbnail"
							alt="Image of a man with a black t-shirt with the text 'S0M3T1M3S D3V3L0P3R, 4LW4YS 4NT1F4SC1ST' written in circle that contains a curly brackets white and red"
					/>
					</div>
				</div>

				<p class="shop-ctas-title">
					Purchase options:
				</p>

				<div class="shop-ctas">
					<div class="shop-cta-item">
						<a class="shop-cta" href="https://www.latostadora.com/shop/antifadev/?shop_trk"
							>Buy on laTostadora</a
						>
					</div>

					<div class="shop-cta-item">
						<a class="shop-cta" href="https://www.printful.com/es/product-template/83798846/35f7328c65b55d3b88a3bf226b0a1dab"
							>Buy on Printful</a
						>
					</div>

					<div class="shop-cta-item">
						<a class="shop-cta" target="_blank" rel="noindex nofollow" href="images/sometimes-developer-always-antifascist.png"
							>Download image and print it yourself</a
						>
					</div>
				</div>

				<p class="shop-disclaimer" xmlns:cc="http://creativecommons.org/ns#" >
					This work is licensed under <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer">CC BY-NC-ND 4.0
					</a></p>

			</article>
		</div>
	</div>
</main>
{{ end }}
