.zoom-in-down {
  animation-duration: 3.2s;
  animation-fill-mode: both;
  animation-name: zoom-in-down;
}

.star-animation {
  font-size: 20px;
  animation-duration: 3s;
  animation-name: star-animation;
}

@keyframes star-animation {
  from {
    animation-timing-function: linear;
    font-size: 60px;
    transform: rotate(3000deg);
    opacity: 0;
    color: #666;
  }
  10% {
    animation-timing-function: linear;
    font-size: 60px;
    transform: rotate(3000deg);
    opacity: 0;
    color: #666;
  }
  33% {
    animation-timing-function: linear;
    font-size: 60px;
    transform: rotate(1200deg);
    opacity: 1;
    color: #666;
  }
  66% {
    animation-timing-function: ease-out;
    font-size: 20px;
    transform: rotate(500deg);
    color: #666;
  }
  to {
    animation-timing-function: ease-out;
    font-size: 20px;
    transform: rotate(0);
    color: $color-primary;
  }
}

@keyframes zoom-in-down {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  75% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  90% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes flip-in-x {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  50% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  70% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  90% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    transform: perspective(400px);
  }
}

.flip-in-x {
  backface-visibility: visible !important;
  animation-name: flip-in-x;
  animation-duration: 3s;
  animation-fill-mode: both;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounce-in-up {
  from,
  85%,
  90%,
  95%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }
  85% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  90% {
    transform: translate3d(0, 10px, 0);
  }
  95% {
    transform: translate3d(0, -5px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.bounce-in-up {
  animation-name: bounce-in-up;
  animation-duration: 5s;
  animation-fill-mode: both;
}

@keyframes slide-left {
  from {
    transform: translate3d(-400%, 0, 0);
    visibility: visible;
  }
  85% {
    transform: translate3d(-400%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slide-right {
  from {
    transform: translate3d(400%, 0, 0);
    visibility: visible;
  }
  85% {
    transform: translate3d(400%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
