*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: $color-white;
    color: $color-text;
    font-family: 'PT+Sans', sans-serif;
}

a {
    color: $color-primary;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
}

p,
ul,
li {
    font-size: 18px;
}

p {
    font-size: inherit;
    line-height: 1.6;
    margin-bottom: 1rem;
    text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Fjalla One", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: $color-text;
    text-rendering: optimizeLegibility;
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.4;
}

img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: middle;
    border: 0;
}

a img {
    border: 0;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
    @include breakpoint($breakpoint-medium) {
        flex-direction: row;
        min-height: 100%;
    }
}

@include scrollbars(.5em, #888);
