.home {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  background: url("../../images/2b11918b.png") repeat;
  overflow: hidden;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  text-align: center;
  h2 {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    margin: 70px auto 0;
    position: relative;
    letter-spacing: 6px;
    text-align: center;
    width: 80%;
    @mixin breakpoint $breakpoint-medium {
      margin: 70px 0 0;
      width: auto;
    }
    &::before,
    &::after {
      content: " ";
      position: absolute;
      width: 50px;
      height: 8px;
      border-top: 1px solid #666;
      border-bottom: 1px solid #666;
    }
    &::before {
      margin: 8px 0 0 -65px;
    }
    &::after {
      margin: 7px 0 0 10px;
    }
  }
  .button {
    color: #666;
    border: 3px solid #666;
    font-family: "PT Sans", sans-serif;
    text-transform: uppercase;
    margin: 30px auto;
    border-radius: 25px;
    padding: 10px 40px;
    background: transparent;
    display: block;
    width: 60%;
    @mixin breakpoint $breakpoint-medium {
      margin: 50px;
      display: inline-block;
      width: auto;
    }
    @media screen and (max-width: 41.75em) and (orientation: landscape) {
      position: absolute;
      top: -8px;
      width: auto;
      &.about {
        left: 15px;
      }
      &.projects {
        right: 15px;
      }
    }
    &:hover,
    &:focus {
      color: $color-primary;
      border-color: $color-primary;
    }
  }
  .logo {
    margin: 70px auto;
    @mixin breakpoint $breakpoint-medium {
      margin: 100px auto;
    }
  }
}

.claim {
  position: relative;
  text-align: center;
  margin: 20px auto;
  display: block;
  font-size: 16px;
  @mixin breakpoint $breakpoint-medium {
    font-size: 20px;
    margin: 50px auto;
  }
  span {
    text-decoration: none;
    display: none;
    text-align: left;
    color: #666;
    animation-name: slide-right;
    animation-duration: 4s;
    animation-fill-mode: both;
    @mixin breakpoint $breakpoint-small {
      display: inline-block;
    }
    &:nth-child(1) {
      text-align: right;
      animation-name: slide-left;
    }
  }
  .star {
    content: "\f005 ";
    font-family: "FontAwesome", serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: relative;
    font-size: 30px;
    text-align: center;
    width: 90%;
    top: 4px;
    margin: 0;
    padding: 0 20px;
  }
}

.fa-star {
  color: $color-primary;
}

.years {
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  letter-spacing: 5px;
  animation-name: opacity;
  animation-duration: 4.3s;
  animation-fill-mode: both;
  @mixin breakpoint $breakpoint-medium {
    font-size: 16px;
  }
  &::before,
  &::after {
    content: "\f068";
    font-family: "FontAwesome", serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: relative;
    font-size: 16px;
    margin: 0 10px;
    top: 2px;
  }
}
