.projects {
  h2 {
    margin-bottom: 30px;
  }
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  margin-bottom: 40px;
  padding-bottom: 20px;
  @mixin breakpoint $breakpoint-small {
    flex-direction: row;
  }
  h1 {
    color: $color-black-soft;
    font-size: 24px;
    a {
      color: $color-black-soft;
    }
  }
}

.project-image {
  width: 100%;
  @mixin breakpoint $breakpoint-small {
    width: 15%;
  }
}

.project-content {
  width: 100%;
  @mixin breakpoint $breakpoint-small {
    width: 80%;
  }
}

.thumbnail {
  border: solid 4px $color-white;
  box-shadow: 0 0 0 1px rgba(102, 102, 102, 0.2);
  display: inline-block;
  line-height: 0;
  max-width: 100%;
  transition: box-shadow 200ms ease-out;
  border-radius: 0;
  margin-bottom: 1rem;
}
