.list {
  & .title a {
    text-decoration: none;
  }

  & .image-wrapper {
    margin-bottom: 1rem;
  }

  & .image-link {
    text-decoration: none;

    & img {
      background: rgba(0, 0, 0, 0.05);
      aspect-ratio: 1.91 / 1;
      max-width: 100%;
    }
  }

  & .summary {
    font-size: 1.4rem;

    &.more a {
      border: var(--border);
      border-color: var(--text-color-secondary);
      text-decoration: none;
      display: inline-block;
      padding: 0.5rem 1rem;
      font-family: var(--header-font);
      font-size: 1rem;
      color: var(--text-color-secondary);
      transition: var(--transition);
      border-radius: 2rem;

      &:hover {
        border-color: var(--text-color);
        color: var(--text-color);
      }
    }
  }
}

@media (max-width: 600px) {
  .list {
    & .title {
      font-size: 2.5rem;
    }

    & .summary {
      font-size: 1.8rem;

      &.more a {
        font-size: 1.5rem;
      }
    }
  }
}
