.single {
  & .content {
    max-width: var(--content-with);
    margin: 0 auto;
    padding: 0 2rem;
  }
}

.featured-image {
  max-width: 75rem;
  margin: 0 auto;

  & img {
    width: 100%;
    display: block;
    margin-bottom: 1.5rem;
    aspect-ratio: 1.91 / 1;
    background: rgba(0, 0, 0, 0.05);
  }
}

.share {
  transition: var(--transition);
  opacity: 0;
}
