.theme-switch {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;

  & .checkbox {
    opacity: 0;
    position: absolute;
  }

  & .label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 50px;
    position: relative;
    height: 40px;
    width: 80px;
    cursor: pointer;
    box-shadow: var(--switch-shadow);
  }

  & .ball {
    background-color: var(--text-color);
    position: absolute;
    border-radius: 50%;
    top: 5px;
    left: 5px;
    height: 30px;
    width: 30px;
  }

  & .moon {
    color: #f1c40f;
  }

  & .sun {
    color: #ff6b00;
  }
}

.theme-switch .ball {
  transform: translatex(0);
}

.dark .theme-switch .ball {
  transform: translatex(40px);
}

@media (prefers-color-scheme: dark) {
  .theme-switch .ball {
    transform: translatex(40px);
  }

  .light .theme-switch .ball {
    transform: translatex(0);
  }
}
