<header class="header">
    <div id="logo" class="mini white">
      <div class="icon">&nbsp;&lt;/&gt;&nbsp;</div>
      <h1><a href="{{ "/" | prepend: site.baseurl }}">Berriart</a></h1>
      <h5>Full Stack Developer</h5>
    </div>

    <nav class="menu">
        <ul>
          {% for link in site.main_navigation %}
            <li {% if page.url == link.url %}class="current"{% endif %}>
              <a href="{{link.url}}" title="{{link.title}}">{{link.text}}</a>
            </li>
          {% endfor %}
        </ul>
    </nav>

    <p class="social"><a class="linkedin" href="http://www.linkedin.com/in/artberri" title="My Linkedin"><i class="fi-social-linkedin"></i></a> <a class="twitter" href="https://twitter.com/artberri" title="My twitter"><i class="fi-social-twitter"></i></a> <a class="github" href="https://github.com/artberri" title="My github"><i class="fi-social-github"></i></a></p>
</header>

<div class="main">