.zoom-in-down {
    animation-duration: 3.2s;
    animation-fill-mode: both;
    animation-name: zoom-in-down;
}

.star-animation {
    font-size: 20px;
    animation-duration: 3s;
    animation-name: star-animation;
}

@keyframes star-animation {
    from {
        animation-timing-function: linear;
        font-size: 60px;
        transform: rotate(3000deg);
        opacity: 0;
        color: #666;
    }

    10% {
        animation-timing-function: linear;
        font-size: 60px;
        transform: rotate(3000deg);
        opacity: 0;
        color: #666;
    }

    33% {
        animation-timing-function: linear;
        font-size: 60px;
        transform: rotate(1200deg);
        opacity: 1;
        color: #666;
    }

    66% {
        animation-timing-function: ease-out;
        font-size: 20px;
        transform: rotate(500deg);
        color: #666;
    }

    to {
        animation-timing-function: ease-out;
        font-size: 20px;
        transform: rotate(0);
        color: $primary-color;
    }
}

@keyframes zoom-in-down {
    from {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        animation-timing-function: cubic-bezier(.550, .055, .675, .190);
    }

    75% {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        animation-timing-function: cubic-bezier(.550, .055, .675, .190);
    }

    90% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        animation-timing-function: cubic-bezier(.175, .885, .320, 1);
    }
}

@keyframes flip-in-x {
    from {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    50% {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    70% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        animation-timing-function: ease-in;
    }

    80% {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    90% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    to {
        transform: perspective(400px);
    }
}

.flip-in-x {
    backface-visibility: visible !important;
    animation-name: flip-in-x;
    animation-duration: 3s;
    animation-fill-mode: both;
}

@mixin slide-in($animation-name, $from) {
    @keyframes #{$animation-name} {
        from {
            transform: translate3d($from, 0, 0);
            visibility: visible;
        }

        85% {
            transform: translate3d($from, 0, 0);
            visibility: visible;
        }

        to {
            transform: translate3d(0, 0, 0);
        }
    }
}

@include slide-in(slide-left, -400%);
@include slide-in(slide-right, 400%);


@keyframes opacity {
    from {
        opacity: 0;
    }

    90% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes bounce-in-up {
    from, 85%, 90%, 95%, to {
        animation-timing-function: cubic-bezier(.215, .610, .355, 1);
    }

    from {
        opacity: 0;
        transform: translate3d(0, 3000px, 0);
    }

    85% {
        opacity: 1;
        transform: translate3d(0, -20px, 0);
    }

    90% {
        transform: translate3d(0, 10px, 0);
    }

    95% {
        transform: translate3d(0, -5px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.bounce-in-up {
    animation-name: bounce-in-up;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-name: zoom-in-down;
}

