.center {
    text-align: center;
}

.super-container {
    height: 100%;
}

.content-area {
    position: relative;
    margin: 0 20px;
}

.site-content {
    padding: 20px 0 40px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.normal-image {
    max-width: 100%;
    margin: 0 auto 20px;
    display: block;
}
