html {
    height: 100%;
    overflow-x: hidden;
}

p,
ul,
li {
    font-size: rem-calc(18px);
}

.center {
    text-align: center;
}

.super-container {
    height: 100%;
}

.content-area {
    position: relative;
    margin: 0 20px;
}

.site-content {
    padding: 20px 0 40px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.normal-image {
    max-width: 100%;
    margin: 0 auto 20px;
    display: block;
}

.post,
.page {
    position: relative;

    .entry-title {
        font-size: rem-calc(54px);
        top: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        position: relative;
        margin: 50px 0 50px;
        text-shadow: none;
        padding-right: 220px;
        border-bottom: 1px solid #aaa;
        color: #444;
    }

    .entry-content {
        p,
        li,
        pre {
            font-size: rem-calc(24px);
            color: #444;
        }

        li {
            margin-bottom: 15px;
        }

        ul {
            margin-left: 2rem;
        }
    }

    h2 {
        margin: 40px 0 10px;
        font-size: rem-calc(32px);
        color: #444;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: rem-calc(320px);
    padding: rem-calc(15px);
    z-index: 20;

    p {
        font-size: rem-calc(10px);
        color: #fff;
        text-align: center;
    }
}
