.forkme {
    position: absolute;
    top: 0;
    right: -20px;
    border: 0;
    opacity: .3;
    display: none;

    @include breakpoint(medium) {
        display: block;
    }
}

.documenation-social {
    margin: 20px 0 30px;
    text-align: center;

    .gitforked-button-container {
        bottom: 7px;
        margin-right: 50px;
    }
}

.documentation-menu {
    a {
        transition: color .7s;
    }

    .inner {
        transition: background .7s;
        background: #333;
    }

    li {
        text-align: center;
        line-height: 90px;
        height: 90px;
        font-size: rem-calc(18);

        @include breakpoint(large) {
            font-size: rem-calc(24);
        }
    }

    .is-stuck {
        .inner {
            background: #fafafa;
        }

        a {
            color: #333;
        }
    }
}

.documentation {
    max-width: 960px;
    margin: auto;

    .entry-header {
        position: relative;
    }

    .entry-title {
        font-size: rem-calc(96);
        text-align: center;
        padding: 0;
        margin-top: 0;
        margin-bottom: 10px;
        line-height: 1;

        @include breakpoint(medium) {
            font-size: rem-calc(148);
            line-height: 1.4;
        }
    }

    .author {
        text-align: center;

        @include breakpoint(medium) {
            text-align: left;
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: 24px;
        }
    }

    .entry-subtitle {
        font-size: rem-calc(18);
        text-align: center;
        width: 100%;
        margin: 0 auto;
        padding: 0;

        @include breakpoint(medium) {
            font-size: rem-calc(36);
            width: 80%;
        }
    }

    .entry-content {
        h2 {
            font-size: rem-calc(32);

            @include breakpoint(medium) {
                font-size: rem-calc(48);
            }
        }

        h3 {
            font-size: rem-calc(24);

            @include breakpoint(medium) {
                font-size: rem-calc(32);
            }
        }

        p,
        li {
            font-size: rem-calc(16);

            @include breakpoint(medium) {
                font-size: rem-calc(24);
            }
        }

        .sidr {
            ul, li {
                margin: 0;
                font-size: rem-calc(14);
            }
        }

    }

    .download-button {
        margin: 20px auto;
        display: inline-block;
        font-size: rem-calc(24);
        padding: 15px 20px;
    }

    .doc-preview p {
        margin: 10px 0;

        @include breakpoint(medium) {
            font-size: rem-calc(14);
            color: #333;
        }
    }

    .themes {
        margin-bottom: 20px;

        .columns {
            position: relative;
        }

        h3 {
            bottom: 0;
            left: 0;
            margin: 0;
            padding: 0 0 50px 40px;
            position: absolute;

            a {
                color: #555;
            }
        }

        img {
            margin-bottom: 30px;
        }
    }

    .showcase {
        margin-bottom: 20px;

        .case {
            position: relative;
            overflow: hidden;
        }

        .info {
            position: absolute;
            width: 100%;
            padding: 15px;
            background: rgba(#000, .8);
            bottom: 0;
            left: 0;

            p {
                color: #fff;
                margin: 0;
            }
        }
    }

    .function {
        background: #f8f8f8;
        margin-bottom: 30px;

        h3 {
            font-size: rem-calc(18);
            font-family: "Courier New", Courier, monospace;
            color: $primary-color;
            background: #666;
            padding: 10px 20px;
        }

        h4 {
            font-size: rem-calc(16);
            font-family: "Courier New", Courier, monospace;
            color: $primary-color;
        }

        .usage {
            padding: 10px 20px;

            .parameter {
                border-top: 1px solid #e8e8e8;
                padding: 10px 0;

                p {
                    margin: 0;
                    font-size: rem-calc(14);

                    strong {
                        font-family: "Courier New", Courier, monospace;
                        font-size: 1em;
                    }

                    &:last-child {
                        color: #666;
                    }
                }

                .option {
                    margin: 10px 0 0 30px;
                }
            }
        }
    }
}

