.home {
    min-height: 100%;
    background: url("../images/2b11918b.png") repeat;

    .menu-button {
        background-color: transparent;
    }
}

.intro {
    position: relative;
    height: 100%;
    width: 100%;
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-align: center;

    h1 {
        font-family: 'Changa One', 'sans-serif';
        font-weight: 400;
        text-transform: uppercase;
        font-size: 90px;
        letter-spacing: 15px;
        margin: 20px 0;
        height: 180px;
    }
}

h2 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  margin: 70px 0 0;
  position: relative;
  letter-spacing: 6px;

  &:before,
  &:after {
    content: " ";
    position: absolute;
    width: 50px;
    height: 8px;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;

  }

  &:before  {
    margin: 8px 0 0 -65px;
  }
  &:after {
    margin: 7px 0 0 10px;
  }
}

.claim {
    margin: 20px 0 50px;
    position: relative;
    text-align: center;
    margin: 50px auto;
    display: block;
    font-size: 20px;

    a {
        text-decoration: none;
        display: inline-block;
        text-align: left;
        color: #666;
        animation-name: slide-right;
        animation-duration: 4s;
        animation-fill-mode: both;

        &:nth-child(1) {
            text-align: right;
            animation-name: slide-left;
        }
    }

    .star {
        content: "\f005 ";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: relative;
        font-size: 30px;
        text-align: center;
        width: 90%;
        top: 4px;
        margin: 0;
        padding: 0 20px;
    }
}

.years {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 5px;
    animation-name: opacity;
    animation-duration: 4.3s;
    animation-fill-mode: both;

    &:before,
    &:after {
        content: "\f068";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: relative;
        font-size: 16px;
        margin: 0 10px;
        top: 2px;
    }
}

.char {
  display: inline-block;
  height: 600px;
  position: absolute;
  width: 40px;
  left: 50%;
  top: 0;
  transform-origin: bottom center;
  margin-left: -20px;
  top: 40px;
  animation-duration: 3s;
  animation-fill-mode: both;
}

.char1 {
    animation-name: char1-animation;
    transform: rotate(-25.5deg);
}

.char2 {
    animation-name: char2-animation;
    transform: rotate(-18deg);
}

.char3 {
    animation-name: char3-animation;
    transform: rotate(-11deg);
}

.char4 {
    animation-name: char4-animation;
    transform: rotate(-3deg);
}

.char5 {
    animation-name: char5-animation;
    transform: rotate(5deg);
}

.char6 {
    animation-name: char6-animation;
    transform: rotate(10deg);
    color: #DC6552;
}

.char7 {
    animation-name: char7-animation;
    transform: rotate(18deg);
    color: #DC6552;
}

.char8 {
    animation-name: char8-animation;
    transform: rotate(25deg);
    color: #DC6552;
}

.inicio {
    position: relative;
    height: 100%;
    width: 100%;

    h1,
    h2,
    p {
        text-shadow: 3px, 3px, 3px, 3px, rgba(#000, .8);
    }

    h1 {
        font-size: rem-calc(72px);
        letter-spacing: .7em;
        text-transform: uppercase;
        color: $white;
    }

    h2 {
        font-size: rem-calc(19px);
        text-transform: uppercase;
        padding-right: 3%;
        color: $white;
    }

    p {
        font-size: rem-calc(24px);
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        color: #888;
    }
}

.me {
    background: #f7f7f7;

    .inner {
        text-align: center;
        display: block;
        color: #666;
        max-width: 400px;
        padding: 40px 0;
        margin: 0 auto;

        img {
            height: 120px;
            width: 120px;
            border: 3px solid #e8e8e8;
            border-radius: 60px;
        }
    }

    .social {
        font-size: rem-calc(24px);

        i {
            position: relative;
            top: 0;
            left: 0;
        }

        a {
            transition: .3s ease all;
            color: #fff;
            display: inline-block;
            width: 38px;
            height: 38px;
            border-radius: 19px;
            margin: 0 5px;
        }

        .twitter {
            background: #00a0d1;

            &:hover {
                background: shade(#00a0d1, 20%);
            }
        }

        .github {
            background: #888;

            &:hover {
                background: shade(#888, 20%);
            }
        }

        .linkedin {
            background: #4875b4;

            &:hover {
                background: shade(#4875b4, 20%);
            }
        }
    }
}

.skills {
    background: #ddd;
    padding: 40px 0;

    h2 {
        text-transform: uppercase;
        color: #666;
        text-align: center;
        margin-bottom: 50px;
    }

    h3,
    p {
        color: #666;
    }
}
