body.home {
    min-height: 100%;
    background: #000;

    &::after {
        content: "";
        background: url(../images/back.jpg) no-repeat 50% 40%;
        background-size: 100%;
        background-size: cover;
        opacity: 0.15;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: fixed;
        z-index: -1;
    }

    .menu-button {
        background-color: transparent;
    }
}

.inicio {
    position: relative;
    height: 100%;
    width: 100%;

    h1, h2, p {
        text-shadow: 3px, 3px, 3px, 3px, rgba(#000, 0.8);
    }

    .brand {
        position: absolute;
        top: 30%;
        width: 100%;
        left: 0;
        text-align: center;
    }
    h1 {
        font-size: rem-calc(72px);
        letter-spacing: 0.7em;
        text-transform: uppercase;
        color: $white;
    }

    h2 {
        font-size: rem-calc(19px);
        text-transform: uppercase;
        padding-right: 3%;
        color: $white;
    }
    p {
        font-size: rem-calc(24px);
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        color: #888;
    }
}

.me {
    background: #f7f7f7;

    .inner {
        img {
            height: 120px;
            width: 120px;
            border: 3px solid #e8e8e8;
            border-radius: 60px;
        }

        text-align: center;
        display: block;
        color: #666;
        max-width: 400px;
        padding: 40px 0;
        margin: 0 auto;
    }

    .social {
        font-size: rem-calc(24px);
        i {
            position: relative;
            top: 0px;
            left: 0px;
        }

        a {
            transition: 0.3s ease all;
            color: white;
            display: inline-block;
            width: 38px;
            height: 38px;
            border-radius: 19px;
            margin: 0 5px;
        }

        .twitter {
            background: #00a0d1;

            &:hover {
                background: shade(#00a0d1, 20%);
            }
        }

        .github {
            background: #888;

            &:hover {
                background: shade(#888, 20%);
            }
        }

        .linkedin {
            background: #4875B4;

            &:hover {
                background: shade(#4875B4, 20%);
            }
        }
    }
}

.skills {
    background: #ddd;
    padding: 40px 0;

    h2 {
        text-transform: uppercase;
        color: #666;
        text-align: center;
        margin-bottom: 50px;
    }

    h3, p {
        color: #666;
    }
}
