.home {
    min-height: 100%;
    background: url("../images/2b11918b.png") repeat;
    overflow: hidden;

    .menu-button {
        background-color: transparent;
    }
}

.intro {
    position: relative;
    height: 100%;
    width: 100%;
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-align: center;

    .button {
        color: #666;
        border: 3px solid #666;
        font-family: 'PT Sans', sans-serif;
        text-transform: uppercase;
        margin: 50px;
        border-radius: 25px;
        padding: 10px 40px;
        background: transparent;

        &:hover,
        &:focus {
            color: $primary-color;
            border-color: $primary-color;
        }
    }

    #logo {
        margin: 140px auto;
    }
}

.home h2 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  margin: 70px 0 0;
  position: relative;
  letter-spacing: 6px;

  &:before,
  &:after {
    content: " ";
    position: absolute;
    width: 50px;
    height: 8px;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;

  }

  &:before  {
    margin: 8px 0 0 -65px;
  }
  &:after {
    margin: 7px 0 0 10px;
  }
}

.claim {
    margin: 20px 0 50px;
    position: relative;
    text-align: center;
    margin: 50px auto;
    display: block;
    font-size: 20px;

    a {
        text-decoration: none;
        display: inline-block;
        text-align: left;
        color: #666;
        animation-name: slide-right;
        animation-duration: 4s;
        animation-fill-mode: both;

        &:nth-child(1) {
            text-align: right;
            animation-name: slide-left;
        }
    }

    .star {
        content: "\f005 ";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: relative;
        font-size: 30px;
        text-align: center;
        width: 90%;
        top: 4px;
        margin: 0;
        padding: 0 20px;
    }
}

.fa-star {
    color: $primary-color;
}

.years {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 5px;
    animation-name: opacity;
    animation-duration: 4.3s;
    animation-fill-mode: both;

    &:before,
    &:after {
        content: "\f068";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: relative;
        font-size: 16px;
        margin: 0 10px;
        top: 2px;
    }
}
