/*
@media screen and (max-width: 1280px) {
    .home {
        h1 {
            font-size: rem-calc(64px);
        }
    }
}

@media screen and (max-width: 1023px) {
    .home {
        h1 {
            font-size: rem-calc(48px);
        }
    }
}

@media screen and (max-width: 767px) {
    .home {
        h1 {
            font-size: rem-calc(36px);
        }

        h2 {
            margin-right: 10%;
            margin-left: 10%;
        }

        p {
            font-size: rem-calc(16px);
        }
    }
}

@media screen and (max-width: 639px) {

    .home {
        h1 {
            font-size: rem-calc(24px);
        }

        h2 {
            font-size: rem-calc(16px);
        }

        p {
            padding-right: 10%;
            padding-left: 10%;
        }
    }

    .header h1 {
        font-size: rem-calc(24px);
    }

    .main-menu ul li {
        font-size: rem-calc(24px);
    }

    footer ul li {
        padding: 15px;
    }

    .nav-links a span {
        display: none;

        &.meta-nav {
            display: block;
            font-size: rem-calc(16px);
        }
    }
}

@media screen and (max-width: 479px) {

    .header h1 {
        font-size: rem-calc(16px);
        line-height: 50px;
        height: 50px;
    }

    .home {
        h1 {
            font-size: rem-calc(18px);
        }

        h2 {
            font-size: rem-calc(16px);
        }

        p {
            font-size: rem-calc(12px);
        }
    }

    .main-menu .search-form .search-field {
        line-height: 30px;
        height: 30px;
        font-size: rem-calc(16px);
    }

    .main-menu ul li {
        font-size: rem-calc(16px);
    }

    .menu-button {
        top: 0;
        right: 0;
        border: 0;
        background: transparent !important;
    }

}
*/