.notfound {
    .site-content {
        text-align: center;

        h1 {
            text-align: center;
            text-transform: uppercase;

            font-size: rem-calc(60px);
            color: #ccc;
        }
    }
}
