.page {
    position: relative;

    .entry-title {
        font-size: rem-calc(28px);
        top: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        position: relative;
        margin: 0 0 20px;
        text-shadow: none;
        border-bottom: 1px solid #aaa;
        color: #444;

        @include breakpoint(medium) {
            font-size: rem-calc(48px);
            margin: 50px 0;
        }

        &.in-post {
            margin-bottom: 0;

            @include breakpoint(medium) {
                margin-bottom: 0;
            }
        }
    }

    .post-meta.in-post {
        margin-bottom: 50px;
        margin-top: 5px;
    }

    .entry-excerpt {
        font-weight: bold;
    }

    .post {
        margin-bottom: 50px;

        .entry-title {
            font-size: rem-calc(20px);
            border: 0;
            margin: 0;

            @include breakpoint(medium) {
                font-size: rem-calc(36px);
                margin: 0;
            }

            a {
                text-decoration: none;
            }
        }
    }

    .entry-image {
        margin-bottom: 20px;
        border: 1px solid #ddd;
    }

    .entry-content {
        p,
        li,
        pre {
            font-size: rem-calc(16px);
            color: #444;

            @include breakpoint(medium) {
                font-size: rem-calc(18px);
            }
        }

        li {
            margin-bottom: 15px;
        }

        ul {
            margin-left: 2rem;
        }

        .pre {
            font-size: rem-calc(12px);
            margin-bottom: 20px;

            @include breakpoint(medium) {
                font-size: rem-calc(16px);
            }
        }
    }

    h2 {
        margin: 40px 0 10px;
        font-size: rem-calc(24px);
        color: #444;

        @include breakpoint(medium) {
            font-size: rem-calc(32px);
        }
    }

    .series {
        border: 1px solid #ffeba4;
        background: #fffbe5;
        color: #444;
        padding: 10px;
        margin-bottom: 15px;
        font-size: rem-calc(16px);
        color: #d4ab19;

        a {
            color: #d4ab19;
            text-decoration: underline;
        }
    }
}
