.projects {
    h2 {
        background: $light-gray;
        font-size: 24px;
        margin-bottom: 20px;
        padding: 5px 10px;
    }
}

.project {
    h1 {
        color: $black;
        font-size: 24px;

        a {
            color: $black;
        }

        .icon {
            float: right;
        }
    }
}
