{{ define "main" }}
  <div class="home">

      <div class="logo flip-in-x">
        <div class="icon">&nbsp;&lt;/&gt;&nbsp;</div>
        <h1>Berriart</h1>
        <h5>Full Stack Developer</h5>
      </div>

      <h2 class="animated zoom-in-down">Alberto Varela's Personal Website</h2>
      <p class="claim">
        <span>Over 10 years working as web developer</span>
        &nbsp;&nbsp;<i class="fa fa-star star-animation"></i>&nbsp;&nbsp;
        <span>Over 15 years enjoying web development</span>
      </p>
      <div class="years">2007 · 2021</div>
      <div>
        <a class="button bounce-in-up about" href="/alberto-varela/">About me</a>
        <a class="button bounce-in-up projects" href="/projects/">Projects</a>
        <a class="button bounce-in-up blog" href="/blog/">Blog</a>
      </div>

  </div>
{{ end }}
