<header class="header">
    <div class="logo mini white">
        <div class="icon">&nbsp;&lt;/&gt;&nbsp;</div>
        <h1><a href="/">Berriart</a></h1>
        <h5>Full Stack Developer</h5>
    </div>

    <nav class="menu">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/projects/">Projects</a>
            </li>
            <li>
                <a href="/blog/">Blog</a>
            </li>
            <li>
                <a href="/alberto-varela/">About me</a>
            </li>
        </ul>
    </nav>

    <p class="social">
        <a class="linkedin" href="http://www.linkedin.com/in/artberri" title="My Linkedin"><i class="fa fa-linkedin"></i></a>
        <a class="twitter" href="https://twitter.com/artberri" title="My twitter"><i class="fa fa-twitter"></i></a>
        <a class="github" href="https://github.com/artberri" title="My github"><i class="fa fa-github"></i></a>
    </p>
</header>
