{{ $featured_image := .Resources.GetMatch "featured" }} {{ if $featured_image }}
{{ $image := $featured_image.Resize "900x q90 Linear" }} {{ $image_medium :=
$featured_image.Resize "640x q90" }} {{ $image_small := $featured_image.Resize
"360x" }}
<img
  srcset="{{ $image_small.Permalink }} 360w,
                    {{ $image_medium.Permalink }} 640w,
                    {{ $image.Permalink }} 900w"
  sizes="(max-width: 440px) 360px,
                    (max-width: 720px) 640px,
                    (max-width: 860px) 780px,
                    (max-width: 1040px) 640px,
                    800px"
  src="{{ $image.Permalink }}"
  class="entry-image"
  alt="image from {{ .Title }}"
/>
{{ end }}
