@import 'reset-css';
@import '@fontsource/fjalla-one/400.css';
@import '@fontsource/karma/400.css';
@import '@fontsource/karma/700.css';
@import 'themes/av2022/assets/css/critical/vars.css';
@import 'themes/av2022/assets/css/critical/base.css';
@import 'themes/av2022/assets/css/critical/header.css';
@import 'themes/av2022/assets/css/critical/subheader.css';
@import 'themes/av2022/assets/css/critical/content.css';
@import 'themes/av2022/assets/css/critical/single.css';
@import 'themes/av2022/assets/css/critical/list.css';
@import 'themes/av2022/assets/css/critical/project.css';
@import 'themes/av2022/assets/css/critical/home.css';
@import 'themes/av2022/assets/css/critical/theme-switch.css';
@import 'themes/av2022/assets/css/critical/footer.css';
@import 'themes/av2022/assets/css/critical/shop.css';
