---
layout: default
title: Blog
---

<div class="content-area">
    <div class="site-content page" role="main" itemscope itemtype="http://schema.org/Blog">
        <div class="row">
            <div class="large-12 columns">

                <header class="entry-header">
                    <h1 class="entry-title">Blog</h1>
                </header>

                {% for post in paginator.posts %}
                    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
                        <header class="entry-header">
                            <h1 class="entry-title" itemprop="name headline"><a href="{{ post.url }}">{{ post.title }}</a></h1>
                        </header>

                        <div class="post-details-info">
                            <p class="post-meta">
                                <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">Published on {{ post.date | date: "%B %-d, %Y" }}</time>
                                {% if post.external %}
                                    <span class="external-entry">in <a href="{{ post.redirect_to[0] }}">{{ post.external }}</a> [External link]</span>
                                {% endif %}
                            </p>
                        </div>

                        <div class="entry-image-wrapper">
                            <a class="entry-image-link" href="{{ post.url }}">
                                {% responsive_image_block %}
                                    path: {{ post.featuredImage }}
                                    alt: {{ post.title }}
                                    featured: true
                                {% endresponsive_image_block %}
                            </a>
                        </div>

                        <div class="entry-content" itemprop="articleBody">
                            <p>{{ post.excerpt }}</p>
                        </div>

                    </article>
                {% endfor %}

                {% if paginator.total_pages > 1 %}
                    <div class="pagination">
                    {% if paginator.previous_page %}
                        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
                    {% else %}
                        <span>&laquo; Prev</span>
                    {% endif %}

                    {% for page in (1..paginator.total_pages) %}
                        {% if page == paginator.page %}
                            <em>{{ page }}</em>
                        {% elsif page == 1 %}
                            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
                        {% else %}
                            <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if paginator.next_page %}
                        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
                    {% else %}
                        <span>Next &raquo;</span>
                    {% endif %}
                    </div>
                {% endif %}

            </div>
        </div>

    </div>
</div>

