<article class="post" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
    {{ partial "list-image.html" . }}

    <header>
        <h1 class="title" itemprop="name headline"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>

        <div class="post-details-info">
            <p class="post-meta">
                <time datetime="{{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}" itemprop="datePublished">Published on {{ .PublishDate.Format "January 2, 2006" }}</time>
            </p>
        </div>
    </header>

    <div itemprop="articleBody">
        <p class="summary">{{- .Description -}} </p>
        <p class="summary more"><a href="{{ .RelPermalink }}" title="Read more about: {{ .Title }}">Read more</a></p>
    </div>
</article>
