{{ define "main" }}
    <div class="main">
        {{- partial "header.html" . -}}
        <article class="page" role="main" >
            <div class="list">

                <div class="projects">
                    <h1 class="entry-title">My Pet Projects</h1>

                    <div class="row">
                        {{ .Content }}
                    </div>

                    <h2>Supported Projects</h2>

                    <article class="project">
                        <div class="project-image">
                            <a href="https://github.com/artberri/diod"><img height="200" width="200" src="images/diod.jpg" class="thumbnail" alt="DIOD, a dependency injection library for Typescript"></a>
                        </div>
                        <div class="project-content">
                            <h1><a href="https://github.com/artberri/diod">DIOD</a> <a class="icon" title="DIOD, a dependency injection library for Typescript" href="https://github.com/artberri/diod"><i class="fa fa-github" aria-hidden="true"></i></a></h1>
                            <p>A very opinionated and lightweight (under 2kB minified and gzipped) inversion of control container and dependency injector for Node.js or browser apps. It is available for vanilla Javascript usage but its true power will be shown by building Typescript apps.</p>
                        </div>
                    </article>

                    <article class="project">
                        <div class="project-image">
                            <a href="https://www.numcol.com/"><img height="200" width="200" src="images/numcol.png" class="thumbnail" alt="Numcol"></a>
                        </div>
                        <div class="project-content">
                            <h1><a href="https://www.numcol.com/">Numcol</a> <a class="icon" title="Download Numcol in Google Play Store" href="https://play.google.com/store/apps/details?id=com.numcol.free"><i class="fa fa-download" aria-hidden="true"></i></a></h1>
                            <p>The Brain Training Game About Matching Numbers And Colours. It's the first and the unique game for phones I've ever developed. I've done it with Cordova and vanilla Javascript. I know that is not the best game you ever seen, but is fine for an elevator trip.</p>
                        </div>
                    </article>

                    <article class="project">

                            <div class="project-image">
                                <a href="/sidr/"><img height="200" width="200" src="images/sidr.png" class="thumbnail" alt="Sidr"></a>
                            </div>
                            <div class="project-content">
                                <h1><a href="/sidr/">Sidr</a> <a class="icon" title="Sidr in Github" href="https://github.com/artberri/sidr"><i class="fa fa-github" aria-hidden="true"></i></a></h1>
                                <p>Sidr is a jQuery plugin for creating off-canvas side menus and an the easiest way for doing your menu responsive. It's the most popular code I've ever wrote and it's used in more than 150.000 websites including fox.com, uscourts.gov,...</p>
                            </div>

                    </article>

                    <article class="project">

                            <div class="project-image">
                                <a href="https://github.com/artberri/rollup-plugin-istanbul"><img height="200" width="200" src="images/rollup-javascript.png" class="thumbnail" alt="rollup-plugin-istanbul"></a>
                            </div>
                            <div class="project-content">
                                <h1><a href="https://github.com/artberri/rollup-plugin-istanbul">rollup-plugin-istanbul</a> <a class="icon" title="rollup-plugin-istanbul" href="https://github.com/artberri/rollup-plugin-istanbul"><i class="fa fa-github" aria-hidden="true"></i></a></h1>
                                <p>Seamless integration between the module bundler <a href="https://rollupjs.org/">Rollup.js</a> and the code coverage tool <a href="https://istanbul.js.org/">Istanbul</a> (node.js).</p>
                            </div>

                    </article>

                    <article class="project end">

                            <div class="project-image">
                                <a href="https://github.com/artberri/devenv"><img height="200" width="200" src="images/devenv.png" class="thumbnail" alt="DevEnv"></a>
                            </div>
                            <div class="project-content">
                                <h1><a href="https://github.com/artberri/devenv">DevEnv</a> <a class="icon" title="DevEnv in Github" href="https://github.com/artberri/devenv"><i class="fa fa-github" aria-hidden="true"></i></a></h1>
                                <p>Devenv is my automated development environment builder project. It's made with Puppet and I use it to preprare my development environment at home or at work. Feel free to fork it and then adapt it to your needs.</p>
                            </div>

                    </article>

                    <article>
                        <div>
                            <h2>Unsupported / Deprecated Projects</h2>
                            <p>I've built and I've used these projects in some moment but now I'm not supporting them due to different reasons. You can use them but I'm not going to give support to any issue you could have, at least for now.</p>
                            <ul>
                                <li><a href="https://www.npmjs.com/package/cordova-plugin-play-games-services">Google Play Games Services Cordova Plugin</a>: Cordova plugin to use Google Play Games Services. It includes methods for login, achievements, leaderboards,... (Available also through npm, new Plugin Registry Format).</li>
                                <li><a href="https://market.nativescript.org/plugins/nativescript-wear-messaging">Wear Messaging Nativescript Plugin</a>: A Nativescript Plugin that adds support for sending messages between the phone and the watch using the Android MessageClient API. </li>
                                <li><a href="https://forge.puppetlabs.com/artberri/nvm">puppet-nvm</a>: A Puppet module to simplify the task of installing Node Version Manager (NVM) to install unique or multiple versions of Node.js.</li>
                                <li><a href="https://forge.puppetlabs.com/artberri/yarn">puppet-yarn</a> A Puppet module to simplify the task of installing yarn and that supports package, npm or source installation methods.</li>
                                <li><a href="https://plugins.jquery.com/html5storage/">Html5 Storage jQuery Plugin</a>: A light (1,2K) jQuery Plugin to use Local Storage or Session Storage without worrying about HTML5 support. It uses Cookies for backward compatibility.</li>
                                <li><a href="https://github.com/artberri/BerriartSitemapBundle">BerriartSitemapBundle</a>: The BerriartSitemapBundle provides a way to create a xml sitemap using doctrine in Symfony2.</li>
                                <li><a href="https://profiles.wordpress.org/artberri/#content-plugins">Wordpress Plugins and Themes</a>: All my Wordpress plugins/themes are unsupported/deprecated.</li>
                            </ul>
                        </div>
                    </article>

                </div>

            </div>
        </article>
        {{- partial "footer.html" . -}}
    </div>
{{ end }}
