{{ define "main" }}
    <section class="list" role="main" itemscope itemtype="https://schema.org/Blog">
        <header class="subheader">
            <div class="container">
                <h1 class="title">{{ .Title }}</h1>
            </div>
        </header>
        <main class="content container">
            {{- .Content -}}

            <div class="grid">
                {{ range .Paginator.Pages }}
                    {{- partial "summary.html" . -}}
                {{ end }}
            </div>
        </main>

        {{- template "_internal/pagination.html" . -}}
    </section>
{{ end }}
