{{ define "main" }}
    {{- partial "header.html" . -}}
    <article class="page single" role="main" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
        <header class="header">
            <div class="container">
                <h1 class="title" itemprop="name headline">{{- .Title -}}</h1>

                <div class="post-details-info">
                    <p class="post-meta in-post"><time datetime="{{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}" itemprop="datePublished">Published on {{ .PublishDate.Format "January 2, 2006" }}</time> · {{ div .WordCount 265 }} min read</p>
                </div>
            </div>
        </header>

        {{- partial "single-image.html" . -}}

        <div class="content" itemprop="articleBody">
            <p class="excerpt">{{- .Description -}}</p>

            {{- .Content -}}
        </div>

        {{- partial "share.html" . -}}

        <div class="disquss">
            {{- template "_internal/disqus.html" . -}}
        </div>
    </article>
    {{- partial "footer.html" . -}}
{{ end }}
