<header id="header" class="header">
  <div class="title">
    <h1><a href="/"><svg width="50" height="50" version="1.1" viewBox="0 0 13 13">
      <title>Alberto Varela</title>
      <g transform="matrix(.036769 0 0 .036769 -1.2618 -1.1682)">
       <path class="v" fill="currentColor" shape-rendering="optimizeQuality"  d="m203.18 55.654h48.412l34.345 247.17h2.0095l34.527-247.17h48.229l-56.815 312.03h-54.075z" stroke-width="0"/>
       <path class="a" fill="currentColor" shape-rendering="optimizeQuality"  d="m114.36 55.653-56.633 312.03h167.52l-56.815-312.03zm26.124 64.854h2.009l28.779 206.02h-59.416z" />
      </g>
     </svg> </a></h1>
  </div>

  <nav class="menu">
    <input type="checkbox" id="menuToggle" class="menu-checkbox">
    <label for="menuToggle" class="menu-icon">
      <svg width="32" height="32" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <title>Toggle menu</title>
        <path class="h1" d="M3 5H21" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
        <path class="h2" d="M3 12H21" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
        <path class="h3" d="M3 19H21" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </label>
    <ul class="menu-items">
      <li class="menu-item">
        <a class="menu-link" href="/projects/">Projects</a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/blog/">Blog</a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/alberto-varela/">About me</a>
      </li>
      <li class="menu-item">
        {{ partial "theme-switch.html" . }}
      </li>
    </ul>
  </nav>
</header>
