{{ $featured_image := .Resources.GetMatch "featured" }}
{{ if $featured_image }}
  {{ $image := $featured_image.Resize "1200x q90 Linear" }}
  {{ $image_medium := $featured_image.Resize "640x q90" }}
  {{ $image_small := $featured_image.Resize "360x" }}
  <img
    srcset="{{ $image_small.RelPermalink }} 360w,
            {{ $image_medium.RelPermalink }} 640w,
            {{ $image.RelPermalink }} 1200w"
    src="{{ $image.RelPermalink }}"
    class="entry-image"
    alt="image from {{ .Title }}"
  />
{{ end }}
