---
layout: default
---

<div class="hide-for-small-only documentation-menu" data-sticky-container>
    <div class="sticky" style="width:100%;" id="sticky-magellan" data-sticky data-margin-top="0" data-margin-bottom="0" data-top-anchor="documentation-container" data-btm-anchor="documentation-container:bottom">
        <div class="inner">
            <div class="row">
                <div class="medium-10 large-12 columns">
                    <nav>
                        <ul class="horizontal menu expanded">
                            {% for link in page.menu %}
                                <li><a class="smooth" href="#{{link.url}}">{{link.text}}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-area " >
    <div id="documentation-container" class="site-content" role="main" >
        {% if page.ad.client and page.ad.slot %}
        <div class="row">
            <div class="large-12 columns">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Bloque Sidr -->
                <ins class="adsbygoogle documentation-adblock-1"
                     style="display:block"
                     data-ad-client="{{ page.ad.client }}"
                     data-ad-slot="{{ page.ad.slot }}"
                     data-ad-format="auto"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="large-12 columns">

                <article class="post documentation">

                    <header class="entry-header documentation-header">
                        <h1 class="entry-title">{{ page.title }}</h1>

                        <div class="documenation-social">
                            <div class="row">
                                <div class="large-12 columns">
                                    <a class="github-button" href="https://github.com/artberri/sidr" data-icon="octicon-star" data-count-href="/artberri/sidr/stargazers" data-count-api="/repos/artberri/sidr#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star artberri/sidr on GitHub">Star</a> <a href="https://twitter.com/share" class="twitter-share-button" data-related="artberri">Tweet</a> <div class="g-plusone" data-size="medium" data-callback="gplusCallback" data-href="http://www.berriart.com/sidr/"></div>
                                </div>
                            </div>
                        </div>
                    </header>

                    <h2 class="entry-subtitle">{{ page.subtitle }}</h2>

                    <div class="center">
                        <a href="{{ page.download }}" id="download" class="button download-button">Download</a>
                    </div>

                    <div class="entry-content" >
                        {{ content }}
                    </div>

                </article>

            </div>
        </div>

    </div>
</div>


