---
layout: default
---
<div class="section inicio">
  <div class="brand">
    <h1>&lt;?  Berriart ?&gt;</h1>
    <h2>Over 5 years working as web developer, over 10 years enjoying web development</h2>
  </div>
  <p>Hi! This is the web of Alberto Varela, a Full Stack Web Developer, scroll down to view more<br><i class="fi-arrow-down"></i></p>
</div>

<div id="me" class="section me">
  <div class="row">
    <div class="large-12 columns">
      <div class="inner">
        <p><img height="200" width="200" src="{{ "/images/alberto.png" | prepend: site.baseurl }}" alt="Alberto Varela" /></p>
        <p>I am a 33 years old Full Stack Web Developer based in <a data-reveal-id="myModal"  href="{{ "/images/bilbao.jpg" | prepend: site.baseurl }}">Bilbao</a>. I try to handle almost all aspects of a website development, although I especially enjoy programming in back-end mode. I have passion for creating and discovering better ways to do what I already do.</p>
        <p class="social"><a class="linkedin" href="http://www.linkedin.com/in/artberri" title="My Linkedin"><i class="fi-social-linkedin"></i></a> <a class="twitter" href="https://twitter.com/artberri" title="My twitter"><i class="fi-social-twitter"></i></a> <a class="github" href="https://github.com/artberri" title="My github"><i class="fi-social-github"></i></a></p>
      </div>
    </div>
  </div>
</div>

<section class="section skills">
  <h2>Skills</h2>
  <div class="row">
    <div class="large-4 medium-4 columns">
      <h3><i class="fi-monitor"></i> Web Development</h3>
      <p>My preferred back-end languages are PHP and Javascript (Node.js). I'm also front-end developer, I've worked with AngularJS, jQuery and a lot of Vanilla JS. I have used MySQL and MongoDB as data storage. I'm open for alternatives when is necessary.</p>
    </div>
    <div class="large-4 medium-4 columns">
      <h3><i class="fi-widget"></i> Continous Integration</h3>
      <p>I have implemented continous integration and continous deployment pipelines in multiple projects, including source control, software and infrastructure automatic provisioning, unit testing, deployment, functional testing and notifications. </p>
    </div>
    <div class="large-4 medium-4 columns">
      <h3><i class="fi-clipboard-pencil"></i> Analysis &amp; Planning</h3>
      <p>I have experience heading medium and small projects: choosing technology, planning, estimating duration, spreading the workload between coworkers... and using Agile methodologies.</p>
    </div>
  </div>
  <div class="row">
    <div class="large-4 medium-4 columns">
      <h3><i class="fi-lock"></i> SysAdmin</h3>
      <p>I have worked with CentOS, Ubuntu and ArchLinux servers, and I haven't problems configuring or installing LAMP stack, postfix, team repositories, BIND,... I've managed sites with Plesk or cPanel too, and I have some experience with Azure.</p>
    </div>
    <div class="large-4 medium-4 columns">
      <h3><i class="fi-target-two"></i> SEO and Web Analytics</h3>
      <p>I like SEO, not all kinds, but the in-page SEO. I allways try to optimize the sites for search engines when coding: web performance, the HTML structure, semantics, microdata, linkbuilding... I've also configured analytics in sites to measure ROI.</p>
    </div>
    <div class="large-4 medium-4 columns">
      <h3><i class="fi-lightbulb"></i> Others</h3>
      <p>I am a self-taught, but I love working with people who know and can teach me. I think my two best qualities are that I like to teach what I know and that I know I have still a lot to learn.</p>
    </div>
  </div>
</section>
