---
layout: default
---
<header class="header">
    <h1><a href="{{ "/" | prepend: site.baseurl }}">&lt;?  Berriart ?&gt;</a></h1>
</header>

<div class="content-area">
    <div class="site-content" role="main">

        <div class="row">
            <div class="large-12 columns">

                <article class="post">
                    <header class="entry-header">
                        <h1 class="entry-title">{{ page.title }}</h1>
                    </header>

                    <div class="entry-content">
                        {{ content }}
                    </div>
                </article>

            </div>
        </div>

    </div>
</div>
