---
layout: default
---
<header id="header" class="header">
    <h1><a href="{{ site.baseurl }}">&lt;?  Berriart ?&gt;</a></h1>
</header>

<div class="content-area projects">
    <div class="site-content" role="main">
        <div class="row">
            <div class="large-12 columns">
                <h1>Projects</h1>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <h2>Supported Projects</h2>
            </div>
        </div>
        <div class="row">
            <article class="large-6 columns project">
              <div class="row">
                  <div class="large-4 columns">
                      <a href="http://www.numcol.com/"><img height="200" width="200" src="{{ "images/projects/numcol.png" | prepend: site.baseurl }}" class="thumbnail" alt="Numcol"></a>
                  </div>
                  <div class="large-8 columns">
                      <h1><a href="http://www.numcol.com/">Numcol</a> <a class="icon" title="Download Numcol in Google Play Store" href="https://play.google.com/store/apps/details?id=com.numcol.free"><i class="fi-download"></i></a></h1>
                      <p>The Brain Training Game About Matching Numbers And Colours. It's the first and the unique game for phones I've ever developed. I've done it with Cordova and vanilla Javascript. I know that is not the best game you ever seen, but is fine for an elevator trip.</p>
                  </div>
              </div>
            </article>
            <article class="large-6 columns project">
              <div class="row">
                  <div class="large-4 columns">
                      <a href="/sidr/"><img height="200" width="200" src="{{ "images/projects/sidr.png" | prepend: site.baseurl }}" class="thumbnail" alt="Sidr"></a>
                  </div>
                  <div class="large-8 columns">
                      <h1><a href="/sidr/">Sidr</a> <a class="icon" title="Sidr in Github" href="https://github.com/artberri/sidr"><i class="fi-social-github"></i></a></h1>
                      <p>Sidr is a jQuery plugin for creating side menus and an easiest way for doing your menu responsive. It's the most popular code I ever wrote and I recognize that now is outdated and that I should refactor it properly. It's on my TODO list.</p>
                  </div>
              </div>
            </article>
        </div>
        <div class="row">
            <article class="large-6 columns project">
              <div class="row">
                  <div class="large-4 columns">
                      <a href="/sidr/"><img height="200" width="200" src="{{ "images/projects/puppet-nvm.png" | prepend: site.baseurl }}" class="thumbnail" alt="puppet-nvm"></a>
                  </div>
                  <div class="large-8 columns">
                      <h1><a href="https://forge.puppetlabs.com/artberri/nvm">puppet-nvm</a> <a class="icon" title="puppet-nvm in Github" href="https://github.com/artberri/puppet-nvm"><i class="fi-social-github"></i></a></h1>
                      <p>Node Version Manager (NVM) is a little bash script that allows you to manage multiple versions of Node.js on the same box. This Puppet module simplifies the task of installing it and allows to install unique or multiple versions of Node.js.</p>
                  </div>
              </div>
            </article>
            <article class="large-6 columns project end">
              <div class="row">
                  <div class="large-4 columns">
                      <a href="http://www.beatrealtime.com/"><img height="200" width="200" src="{{ "images/projects/beatrealtime.png" | prepend: site.baseurl }}" class="thumbnail" alt="BeatRealtime"></a>
                  </div>
                  <div class="large-8 columns">
                      <h1><a href="http://www.beatrealtime.com/">BeatRealtime</a> <a class="icon" title="puppet-nvm in Github" href="https://github.com/artberri/beatrealtime"><i class="fi-social-github"></i></a></h1>
                      <p>This a little experiment I did to try the Google Analytics Real Time API. You can login with your Google Analytics account and see the your current visitors in real time. You can see also their location in a world map built with D3.js.</p>
                  </div>
              </div>
            </article>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <h2>Unsupported Projects</h2>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
            </div>
            <div class="large-6 columns">
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <h2>Deprecated Projects</h2>
            </div>
        </div>
        <div class="row">
            <article class="large-6 columns">
              <div class="row">
                  <div class="large-4 columns">
                      <a href="/sidr/"><img src="{{ "images/projects/sidr.png" | prepend: site.baseurl }}" class="thumbnail" alt="Sidr"></a>
                  </div>
                  <div class="large-8 columns">
                      <h1><a href="/sidr/">Sidr</a></h1>
                  </div>
              </div>
            </article>
            <div class="large-6 columns">
            </div>
        </div>

    </div>
</div>


