---
layout: default
---
<header class="header">
    <h1><a href="{{ "/" | prepend: site.baseurl }}">&lt;  Berriart /&gt;</a></h1>
</header>

<div class="content-area projects">
    <div class="site-content" role="main">
        <div class="row">
            <div class="large-12 columns">
                <h1>Projects</h1>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <h2>Supported Projects</h2>
            </div>
        </div>
        <div class="row">
            <article class="large-6 columns project">
              <div class="row">
                  <div class="large-4 columns">
                      <a href="http://www.numcol.com/"><img height="200" width="200" src="{{ "/images/projects/numcol.png" | prepend: site.baseurl }}" class="thumbnail" alt="Numcol"></a>
                  </div>
                  <div class="large-8 columns">
                      <h1><a href="http://www.numcol.com/">Numcol</a> <a class="icon" title="Download Numcol in Google Play Store" href="https://play.google.com/store/apps/details?id=com.numcol.free"><i class="fi-download"></i></a></h1>
                      <p>The Brain Training Game About Matching Numbers And Colours. It's the first and the unique game for phones I've ever developed. I've done it with Cordova and vanilla Javascript. I know that is not the best game you ever seen, but is fine for an elevator trip.</p>
                  </div>
              </div>
            </article>
            <article class="large-6 columns project">
              <div class="row">
                  <div class="large-4 columns">
                      <a href="/sidr/"><img height="200" width="200" src="{{ "/images/projects/sidr.png" | prepend: site.baseurl }}" class="thumbnail" alt="Sidr"></a>
                  </div>
                  <div class="large-8 columns">
                      <h1><a href="/sidr/">Sidr</a> <a class="icon" title="Sidr in Github" href="https://github.com/artberri/sidr"><i class="fi-social-github"></i></a></h1>
                      <p>Sidr is a jQuery plugin for creating off-canvas side menus and an the easiest way for doing your menu responsive. It's the most popular code I've ever wrote and it's used in more than 150.000 websites including fox.com, uscourts.gov,...</p>
                  </div>
              </div>
            </article>
        </div>
        <div class="row">
            <article class="large-6 columns project">
              <div class="row">
                  <div class="large-4 columns">
                      <a href="https://forge.puppetlabs.com/artberri/nvm"><img height="200" width="200" src="{{ "/images/projects/puppet-nvm.png" | prepend: site.baseurl }}" class="thumbnail" alt="puppet-nvm"></a>
                  </div>
                  <div class="large-8 columns">
                      <h1><a href="https://forge.puppetlabs.com/artberri/nvm">puppet-nvm</a> <a class="icon" title="puppet-nvm in Github" href="https://github.com/artberri/puppet-nvm"><i class="fi-social-github"></i></a></h1>
                      <p>Node Version Manager (NVM) is a little bash script that allows you to manage multiple versions of Node.js on the same box. This Puppet module simplifies the task of installing it and allows to install unique or multiple versions of Node.js.</p>
                  </div>
              </div>
            </article>
            <article class="large-6 columns project end">
              <div class="row">
                  <div class="large-4 columns">
                      <a href="http://www.beatrealtime.com/"><img height="200" width="200" src="{{ "/images/projects/beatrealtime.png" | prepend: site.baseurl }}" class="thumbnail" alt="BeatRealtime"></a>
                  </div>
                  <div class="large-8 columns">
                      <h1><a href="http://www.beatrealtime.com/">BeatRealtime</a> <a class="icon" title="puppet-nvm in Github" href="https://github.com/artberri/beatrealtime"><i class="fi-social-github"></i></a></h1>
                      <p>This a little experiment I did to try the Google Analytics Real Time API. You can login with your Google Analytics account and see the your current visitors in real time. You can see also their location in a world map built with D3.js.</p>
                  </div>
              </div>
            </article>
        </div>
        <div class="row">
            <article class="large-6 columns project">
              <div class="row">
                  <div class="large-4 columns">
                      <a href="https://www.npmjs.com/package/cordova-plugin-play-games-services"><img height="200" width="200" src="{{ "/images/projects/cordova.png" | prepend: site.baseurl }}" class="thumbnail" alt="puppet-nvm"></a>
                  </div>
                  <div class="large-8 columns">
                      <h1><a href="https://www.npmjs.com/package/cordova-plugin-play-games-services">Google Play Games Services Cordova Plugin</a> <a class="icon" title="Google Play Games Services Cordova Plugin for Android in Github" href="https://github.com/artberri/cordova-plugin-play-games-services"><i class="fi-social-github"></i></a></h1>
                      <p>Cordova plugin to use Google Play Games Services. It includes methods for login, achievements, leaderboards,... (Available also through npm, new Plugin Registry Format).</p>
                  </div>
              </div>
            </article>
            <article class="large-6 columns project end">
              <div class="row">
                  <div class="large-4 columns">
                      <a href="https://plugins.jquery.com/html5storage/"><img height="200" width="200" src="{{ "/images/projects/html5-local-storage.jpg" | prepend: site.baseurl }}" class="thumbnail" alt="DevEnv"></a>
                  </div>
                  <div class="large-8 columns">
                      <h1><a href="https://plugins.jquery.com/html5storage/">Html5 Storage jQuery Plugin</a> <a class="icon" title="Html5 Storage jQuery Plugin in Github" href="https://github.com/artberri/jquery-html5storage"><i class="fi-social-github"></i></a></h1>
                      <p>A light (1,2K) jQuery Plugin to use Local Storage or Session Storage without worrying about HTML5 support. It uses Cookies for backward compatibility..</p>
                  </div>
              </div>
            </article>
        </div>
        <div class="row">
            <article class="large-6 columns project">
              <div class="row">
                  <div class="large-4 columns">
                      <a href="https://github.com/artberri/jenkins-reloaded-theme"><img height="200" width="200" src="{{ "/images/projects/jenkins-reloaded.png" | prepend: site.baseurl }}" class="thumbnail" alt="puppet-nvm"></a>
                  </div>
                  <div class="large-8 columns">
                      <h1><a href="https://github.com/artberri/jenkins-reloaded-theme">Jenkins Reloaded Theme (WIP)</a> <a class="icon" title="Jenkins Reloaded Theme in Github" href="https://github.com/artberri/jenkins-reloaded-theme"><i class="fi-social-github"></i></a></h1>
                      <p>This my proposal to replace the horrible Jenkins UI. Still Work In Progress, not finished.</p>
                  </div>
              </div>
            </article>
            <article class="large-6 columns project end">
              <div class="row">
                  <div class="large-4 columns">
                      <a href="https://github.com/artberri/devenv"><img height="200" width="200" src="{{ "/images/projects/devenv.png" | prepend: site.baseurl }}" class="thumbnail" alt="DevEnv"></a>
                  </div>
                  <div class="large-8 columns">
                      <h1><a href="https://github.com/artberri/devenv">DevEnv</a> <a class="icon" title="DevEnv in Github" href="https://github.com/artberri/devenv"><i class="fi-social-github"></i></a></h1>
                      <p>Devenv is my automated development environment builder project. It's made with Puppet and I use it to preprare my development environment at home or at work. Feel free to fork it and then adapt it to your needs.</p>
                  </div>
              </div>
            </article>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <h2>Unsupported / Deprecated Projects</h2>
                <p>I've built and I've used these projects in some moment but now I'm not supporting them due to different reasons. You can use them but I'm not going to give support to any issue you could have, at least for now.</p>
            </div>
        </div>
        <div class="row">
            <article class="large-6 columns project">
                <h1><a href="https://github.com/artberri/BerriartSitemapBundle">BerriartSitemapBundle</a> <a class="" title="BerriartSitemapBundle" href="https://github.com/artberri/BerriartSitemapBundle"><i class="fi-social-github"></i></a></h1>
                <p>The BerriartSitemapBundle provides a way to create a xml sitemap using doctrine in Symfony2.</p>
            </article>
            <article class="large-6 columns project">
                <h1><a href="https://github.com/artberri/ajaxize">Axaxize jQuery Plugin</a> <a class="" title="ajaxize" href="https://github.com/artberri/ajaxize"><i class="fi-social-github"></i></a></h1>
                <p>Ajaxize is a jQuery plugin for converting your classic web into an SPA-like page. It uses the HTML5 Native History API.</p>
            </article>
        </div>
        <div class="row">
            <article class="large-6 columns project">
                <h1><a href="https://github.com/artberri/LienzoJS">LienzoJS</a> <a class="" title="LienzoJS" href="https://github.com/artberri/LienzoJS"><i class="fi-social-github"></i></a></h1>
                <p>It's a HTML5 Canvas mini-framework with an API in spanish that I used to teach kids in CoderDojo.</p>
            </article>
            <article class="large-6 columns project">
                <h1><a href="https://github.com/artberri/TecladoJS">TecladoJS</a> <a class="" title="LienzoJS" href="https://github.com/artberri/TecladoJS"><i class="fi-social-github"></i></a></h1>
                <p>A fork of KeyboardJS with tha API translated to Spanish that I used to teach kids in CoderDojo.</p>
            </article>
        </div>
        <div class="row">
            <article class="large-6 columns project end">
                <h1><a href="https://profiles.wordpress.org/artberri/#content-plugins">Wordpress Plugins and Themes</a></h1>
                <p>All my Wordpress plugins/themes are unsupported/deprecated.</p>
            </article>
        </div>

    </div>
</div>


