{{ define "main" }}
    <div class="page single documentation" role="main" >
        <div class="list">
            <div id="documentation-container" class="site-content" role="main" >
                <article class=" documentation">
                    <header class="subheader documentation-header">
                        <div class="container">
                            <h1 class="title">{{ .Title }}</h1>
                            <h2 class="subtitle entry-subtitle">{{ $.Param "subtitle" }}</h2>
                        </div>
                    </header>

                    <div class="buttons">
                        <a href="{{ $.Param "download" }}" class="button download-button">Download</a>
                        <a href="{{ $.Param "repo" }}" class="button repo-button">Github</a>
                    </div>

                    <div class="content" >
                        {{ .Content }}
                    </div>

                </article>
            </div>
        </div>
    </div>
{{ end }}
